# Python Einführung
Das ist eine **Einführung** für *Python*

In [1]:
print("Hello World!")

Hello World!

In [2]:
# Das ist ein Kommentar
# print("something 1")
# print("something 2")

print("something")

something

In [3]:
name = "Lovelace"

In [4]:
print(name)

Lovelace

In [5]:
age = 73

In [6]:
print(age)

73

In [7]:
size = 1.7123

In [8]:
knows_math = True
likes_gardening = False
print(likes_gardening)

False

In [9]:
type(knows_math)

bool

In [10]:
%who

age	 knows_math	 likes_gardening	 name	 size

In [11]:
type(age)

int

In [12]:
type(name)

str

In [19]:
type(size)

float

## Operatoren

In [14]:
5 + 5

10

In [15]:
100 * age

7300

In [16]:
name + name

'LovelaceLovelace'

In [17]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
name + "10"

'Lovelace10'

In [24]:
size / age

0.023456164383561642

In [23]:
50 - 10

40

In [25]:
number_of_articles = "50"

In [26]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [27]:
int(number_of_articles) / 10

5.0

## Funktionen und Methoden

In [28]:
len(name)

8

In [29]:
print(name)

Lovelace

In [30]:
name.upper()

'LOVELACE'

In [31]:
print(name)

Lovelace

In [32]:
name_capital = name.upper()

In [33]:
print(name_capital)

LOVELACE

In [34]:
name.count("e")

2

In [37]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [39]:
name.replace?

In [40]:
print(name)

Lovelace

In [41]:
name = name.replace("lace", " is everywhere")

## Listen und Dictionaries

In [45]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [46]:
type(names)

list

In [47]:
names[2]

'Curie'

In [48]:
names[0]

'Lovelace'

In [49]:
type(names[3])

str

In [50]:
type(name[3])

str

In [51]:
name

'Love is everywhere'

In [52]:
name[3]

'e'

In [53]:
names[-1]

'Hawking'

In [54]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [55]:
len(names)

4

In [56]:
names[:2]

['Lovelace', 'Darwin']

In [57]:
names[2:]

['Curie', 'Hawking']

import this

In [59]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809,
                           "Noether": 1882}

In [60]:
authors_and_birth_years["Darwin"]

1809

## for-Schleife

In [61]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [68]:
for name in names:
    print(name + " did awesome stuff")
    print("\n")

Lovelace did awesome stuff


Darwin did awesome stuff


Curie did awesome stuff


Hawking did awesome stuff

In [69]:
for name in names:
    print(name + " did awesome stuff")
print("\n")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

## Übung

In [74]:
for author, year in authors_and_birth_years.items():
    print(author)
    print(year)

Lovelace
1882
Darwin
1809
Noether
1882

Dictionary aus Vornamen und Lieblingsessen
Till isst gerne Pizza

## Bedingte Anweisungen (Conditionals)

In [75]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [76]:
temp = 10
if temp > 15:
    print("It's warm")

In [77]:
temp > 15

False

In [78]:
10 > 15

False

In [81]:
temp = 30
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [84]:
temp = 23
if temp >= 25:
    print("It's hot")
elif (temp >= 15 and temp < 24):
    print("It's warm")
elif temp >= 10:
    print("It's mild")
else:
    print("It's cold")

It's warm